/* Tailwind required dependencies used on the production build  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file should be used for global resets only. For specific styling, Tailwind is preferred to maintain consistency*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* *::-webkit-scrollbar {
  width: 10px;

}
 */

/* 
*::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* *::-webkit-scrollbar-thumb {
  background: #888;
}
 */

/* *::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 183, 248);
} */
* *::-webkit-scrollbar {
  height: 5px;
}
.scroller {
  scrollbar-color: #7ebcf3 lightgray;
  scrollbar-width: thin;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 1 / 2 / 2;
}

.btnPlus {
  background-color: #3fa482;
}
:hover.btnPlus {
  background-color: #27a179;
  transform: scale(1.3);
}

.searchIcon {
  background-color: #f08645;
}
:hover.searchIcon {
  background-color: #e0702a;
  transform: scale(1.3);
}

/* Animation of "Torna alle classi" arrow */
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

:hover.arrowContainer > .arrowMoveLeft {
  animation: moveLeft forwards 1s ease-in-out;
}
