/* Tailwind required dependencies used on the production build  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* This file should be used for global resets only. For specific styling, Tailwind is preferred to maintain consistency*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 1 / 2 / 2;
}

:hover.btnPlus {
  transform: scale(1.3);
}

:hover.searchIcon {
  transform: scale(1.3);
}

:hover.xButton {
  transform: scale(1.3);
}
:hover.checkBoxIcon {
  transform: scale(1.3);
}

/* Animation of "Torna alle classi" arrow */
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes moveLeftMinus {
  from {
    transform: translateX(-10);
  }
  to {
    transform: translateX(0px);
  }
}

:hover.arrowContainer > .arrowMoveLeft {
  animation: moveLeft forwards 1s ease-in-out;
}
.arrowMoveLeft {
  animation-name: moveLeftMinus;
  animation-duration: 1s;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7ebcf3 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.4rem;
  height: 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #7ebcf3;
  border-radius: 60px;
  color: #7ebcf3;
  z-index: 20;
}

*::-webkit-scrollbar-track {
  background: #d1d0d0;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 183, 248);
}

/* Box shadow parent element */
.dropShadow {
  box-shadow: 8px 8px 14px rgba(218, 216, 216, 0.4),
    -8px -8px 14px rgba(255, 255, 255, 0.7);
}

.adventureCardColor {
  background-color: #f9f9f9;
}

@media (max-width: 1024px) {
  body,
  #root,
  html {
    height: 10%;
  }
}

.vhBreak {
  height: 34rem;
}
.vhAdvThemeCard {
  height: 20%;
}

@media (min-width: 1200px) and (min-height: 580px) {
  .vhBreak {
    height: 39.75rem;
  }
  .vhAdvThemeCardHeight {
    height: 64%;
  }
}

@media (max-width: 1536px) and (min-height: 864px) {
  .vhPadding {
    padding-left: 2rem;
  }
  .vhBreak {
    height: 42.04rem;
  }
  .vhAdventureHeight {
    height: 92%;
  }
  .vhSpaceBetween {
    justify-content: space-between;
  }
  .vhAdvThemeCard {
    height: 27%;
  }
  .vhsmFont {
    font-size: 14px;
  }
  .vhlgFont {
    font-size: 1rem;
  }
  .vhMarginBottom {
    margin-bottom: 0.4rem;
  }
  .vhAdvThemeCardHeight {
    height: 60%;
  }
}

@media (min-width: 1440px) and (min-height: 900px) {
  .vhBreak {
    height: 45.75rem;
  }
  .vhClassCard {
    width: 30%;
  }
  .vhAdvThemeCardHeight {
    height: 47%;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .vhAdvThemeCardHeight {
    height: 60%;
  }
  .vhBreak {
    height: 53.5rem;
  }
  .vhAdvThemeCard {
    height: 27%;
  }
}

@media (min-width: 2000px) and (min-height: 1440px) {
  .vhBreak {
    height: 74.4rem;
  }
}
